<ion-view hide-nav-bar="true">
	<div class="bar bar-header" style="background: #ff5793;">
		  <h1 class="title" style="color: white;">购物车</h1>
		</div>
  <ion-content style="background: #e5e5e5;">
  	<!--购物车-->
    <div style="text-align: center;">
    	<div style="height: 3.7rem;"></div>
    	<img src="img/cart.png" />
    	<p>快登录淘宝购物车</p>
    	<p>乐享柚子街专属优惠吧~</p>
    	<div class="padding"></div>
    	<a class="button light" style="background: #ff5793;border-radius: 10px;">淘宝授权登录</a>
    </div>
  </ion-content>
</ion-view>