<ion-view view-title="帮助详情" hide-tabs="true" hide-nav-bar="true">
	<div class="bar bar-header" style="background: #ff5793;">
	  <a class="button light icon ion-chevron-left" style="background: #ff5793;" href="#/tab/help"></a>
	  <h1 class="title" style="color: white;">帮助详情</h1>
	</div>
	<ion-content>
		<div style="height: 0.75rem;"></div>
		<div class="padding" style="text-align: center;">
			<h3>{{faces.main}}</h1>
			<h6>{{faces.time}}</h4>
			<div class="padding" style="text-indent: 2em;text-align: left;font-size: 0.3rem;line-height: 0.4rem;">{{faces.helpDetails}}</div>
		</div>
	</ion-content>
	<!--尾部-->
		<div class="tabs" >
			<div class="row">
		    <div class="col col-10"></div>
		    <div class="col col-80 light" style="border-radius: 10px;background: #ff5793;text-align: center;line-height: 0.5rem;">我的意见反馈</div>
		   </div>
		</div>
</ion-view>
