<ion-view view-title="我的昵称"  hide-tabs="true" hide-nav-bar="true">
	<div class="bar bar-header" style="background: #ff5793;">
	  <a class="button light icon ion-chevron-left" style="background: #ff5793;" href="#/tab/login"></a>
	  <h1 class="title" style="color: white;">我的昵称</h1>
	</div>
	<ion-content style="background:#eeeeee;">
		<div class="padding"></div>
		<div class="padding"></div>
		<div class="padding"></div>
		<div style="padding: 0.2rem 0.6rem 0 0.3rem;font-size: 18px;color: #7c7268;">昵称将是您在柚子街她他圈里的身份标识哦，请设置您独一无二的昵称：</div>
		<div class="list" style="padding: 0.2rem;">
		  <label class="item item-input" style="background:#eeeeee;border: none;">
		    <input type="text" placeholder="请输入昵称">
		  </label>
		  <button ng-click="Preservation()" class="button button-block" style="background: #ff87a0;color: white;">
		       保存
		  </button>
		</div>
		<p style="font-size: 20px;color: #c3a582;padding-left: 0.6rem;">男生止步，她她圈仅限女生进入!</p>
	</ion-content>
</ion-view>