<ion-view view-title="设置" hide-tabs="true" hide-nav-bar="true">
	<div class="bar bar-header" style="background: #ff5793;">
	  <a class="button light icon ion-chevron-left" style="background: #ff5793;" href="#/tab/me"></a>
	  <h1 class="title" style="color: white;">设置</h1>
	</div>
	<ion-content style="background:#eeeeee;">
		<div style="padding: 0.6rem;"></div>
		<div class="list">
			<a class="item">
			    接收新消息通知
			    <span class="item-note">
			      已开启
			    </span>
			</a>
			<div class="item item-toggle">
			    免打扰模式
			    <label class="toggle toggle-assertive">
			        <input type="checkbox">
		            <div class="track">
		                <div class="handle"></div>
		            </div>
			     </label>
			 </div>
			<div class="padding" style="color: #a1a1a1;">
			    开启"免打扰模式",自动屏蔽23:00-8:00间的消息通知
			</div>
			<a class="item item-icon-right">
			    <img src="img/我/taobao.png" width="8%" height="8%" style="vertical-align: middle;"/>
			    <span>淘宝账号未授权</span>
			    <span style="float: right;">去授权</span>
			    <i class="icon ion-ios-arrow-right"></i>
			</a>
			<div class="padding"></div>
			<a class="item">
			    清除缓存
			</a>
			<a class="item">
			    检查版本
			    <span class="item-note">
			      当前V2.4.1
			    </span>
			</a>
			<a class="item">
			    关于柚子街
			</a>
		</div>
	</ion-content>
</ion-view>